@font-face {
    font-family: 'aller_displayregular';
    src: url('fonts/allerdisplay-webfont.woff2') format('woff2'),
         url('fonts/allerdisplay-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight';
    src: url('fonts/opensans-light-webfont.woff2') format('woff2'),
         url('fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
  body-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  line-height: 1.4;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside{
  float: left;
  width: 30%;
}

nav{
  float: left;
  width: 20%;
}

footer{
  clear: both;
}

header, section, aside, nav, footer{
  padding: 20px;
}

/* header and footer*/

header, footer{
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* Your code below*/

h1, h2{
  font-family: 'aller_displayregular', sans-serif, slab serif;
  font-size: 2.6rem;
  letter-spacing: 0.1rem;
}

p, ul{
  font-family: 'open_sanslight', sans-serif, serif site-wide;
  font-size: 2.0rem;
  letter-spacing: 0.1rem;
  border-spacing: 0.1rem;
}

html{
  font-size:10px;
}

h1{
  text-align: center;
}
p:first-of-type{
  text-indent: 20px;
}

a:link{

  color: #6681aa;
  font-weight: bold;
  outline: none;
}

a:visited{
  color: #a66;;

}

a:focus{
  text-decoration: none;
}

a:hover{
  background-color: #a66;
  color: white;
  text-decoration: none;
}

a:active{
  background-color: white;
  color: #a66;
}

a* (href="https//"){

}
